---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIndIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro"
import Studies from "../components/Studies.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BookIcon from "../icons/Book.astro"
import CodeIcon from "../icons/code.astro";
import Proyectos from "../components/Proyectos.astro"
---

<Layout 
	title="Portfolio de Johan - Desarollador y Programador Web"
	description="Contacta conmigo para obtener acceso a un trabajador con gran potencial :)"
>
<main class="px-1 lg:px-10 lg:ml-20 md:ml-10">
	<SectionContainer class="py-20 lg:py-44 pb-24">
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-3 lg:gap-x-7 pb-6 lg:pb-10">
				Hey, soy Johan 
				<a
				href="https://www.linkedin.com/in/johan-ariel/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				><Badge>Disponible Para Trabajar</Badge></a>
			</h1>
			<h2 class="text-md md:text-xl lg:text-xl text-wrap max-w-[700px] opacity-80">
				<span class="text-blue-400">
					Pero mis amigos me llama John (Suena mejor).
				</span>
				<p>
					La primera vez que programé fue en la universidad con c++, 
					¡Nunca había disfrutado tanto aprendiendo! En ese momento conocí el <span class="text-red-500">Amor<span>
				</p>
				<span class="text-green-800">/* o más bien pasión */<span>
				<p class="text-white mt-4">
					Mi mejor amigo es programador, muchas charlas que teniamos y tenemos actualmente son sobre esto, ya sea comentando nuevas tecnologías, tecnologias emergentes , memes de informatica, y lo más importante hablamos sobre proyectos que tenemos en mente.
				</p>
				<span class="text-blue-400">Estas charlas y la nostalgia de esa asignatura que tanto disfruté en la carrera hicieron que quiera dar un giro a mi trayectoria profesional y convertirme en desarollador.<span>
					<p class="text-white mt-4">
						Hace ya dos años que decidí cambiar mi trayectoria, y desde entonces he creado y creo proyectos con 
						<span class="text-cyan-400">React</span>
						, y ultimamente me ha apasionado la creacion de aplicaiones multiplataforma usando <span class="text-cyan-400">React Native</span> con Expo.
					</p>
					<p class="text-white mt-4">
					A que estás esperando, ¡Contáctame!
				</p>
			</h2>
		
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/johan-ariel/">
					<LinkedIndIcon class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/BossBonny">
					<GitHubIcon class="size-4 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto: johnari151298@gmail.com">
					<MailIcon class="size-4 lg:size-6" />
					johnari151298@gmail.com
				</SocialPill>
			</nav>
	</SectionContainer>

	<SectionContainer id="studies">
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<BookIcon class="size-4 lg:size-6"/>
			Estudios
		</h2>
		<Studies/>
	</SectionContainer>

	<SectionContainer id="proyectos" class="mt-20">
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<CodeIcon class="size-4 lg:size-6"/>
			Proyectos
		</h2>
		<Proyectos/>
	</SectionContainer>
</main>
</Layout>
